<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="cuboid">
  <xacro:include filename="$(find robot_gripper_camera)/object/cuboid.xacro"/>
  <xacro:arg name="name" default="cuboid"/>
  <xacro:arg name="x" default="1"/>
  <xacro:arg name="y" default="1"/>
  <xacro:arg name="z" default="1"/>
  <xacro:cuboid name="$(arg name)" x="$(arg x)" y="$(arg y)" z="$(arg z)"/>
</robot>

