<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="mesh" params="name file density:=1000 x:=0.1 y:=0.1 z:=0.1 r:=0 g:=0 b:=0 a:=1">
    <xacro:property name="mass" value="${density*x*y*z}"/>
    <link name="${name}">
      <inertial>
        <mass value="${mass}"/>
        <inertia ixx="${mass*(y**2+z**2)/12}" ixy="0" iyy="${mass*(x**2+z**2)/12}" ixz="0" iyz="0" izz="${mass*(x**2+y**2)/12}"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="${file}"/>
        </geometry>
        <material name="color">
          <color rgba="${r} ${g} ${b} ${a}"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="${file}"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>

