<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="d455">
  <xacro:include filename="$(find realsense_gazebo)/urdf/_d455.urdf.xacro"/>
  <xacro:include filename="$(find robot_gripper_camera)/urdf/camera/camera_holder_mount.xacro"/>
  <xacro:camera_holder_mount parent="flange"/>
  <xacro:sensor_d455 parent="camera_holder_mount_screw" use_nominal_extrinsics="true">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:sensor_d455>
</robot>
