<?xml version="1.0"?>
<launch>
  <arg name="robot" default="ur5"/>
  <arg name="gripper" default="coactegpc"/>
  <arg name="camera" default="d435i"/>
  <arg name="model" default="$(find robot_gripper_camera)/urdf/robot_gripper_camera.urdf.xacro"/>
  <arg name="gui" default="true"/>
  <arg name="rvizconfig" default="$(find robot_gripper_camera)/rviz/urdf.rviz"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model) robot:=$(arg robot) gripper:=$(arg gripper) camera:=$(arg camera)"/>
  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>
</launch>

