<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="size" default="40"/>
  <xacro:arg name="type" default="ktoe"/>
  <xacro:arg name="finger" default="12"/>
  <xacro:include filename="$(find coactegpc)/urdf/coactegpc.xacro"/>
  <xacro:coactegpc parent="tool0" parent_link="wrist_3_link" size="$(arg size)" type="$(arg type)" finger="$(arg finger)"/>
</robot>

